<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @confirm %>
    <h3>Click the link below to confirm this timecard:</h3>
    <% else %>
    <h3>Employee Timecard for <%= @user.email %></h3>
    <% end %>
    
    <% @weeks.each do |wk| %>
      <br>
      <br>
      <%= render "timecards/show_user_week", datetime: wk[:day], rows: wk[:rows] %>
    <% end %>

    <% if @confirm %>
      <br>
      <br>
      <a href="<%= "http://project-gloria.herokuapp.com/user/#{@user.id}/confirm_week?day=#{@weeks[0][:day]}" %>">
      Confirm
      </a>

    <% end %>

  </body>
</html>