<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @users.each_with_index do |user, i| %>
      <% wk = @weeks[i] %>
      <% next if wk.nil? %>
      <h1>Employee Timecard for <%= user.email %></h1>
      
        <br>
        <br>
        <%= render "timecards/show_user_week", datetime: wk[:day], rows: wk[:rows] %>
      <% end %>
    <% end %>

  </body>
</html>