<h1>Home (Admin)</h1>
<br/>

<p><b>Select Job #</b></p>
<% if @jobs.empty? %>
	<i>None</i>
<% else %>

	<ul>
	<% @jobs.each do |job| %>
		<li><%= link_to "Job #{job.job_number}", job_url(job), method: :get %></li>
	<% end %>
	</ul>
<% end %>
<br/>
<%= link_to "New Job", new_job_url, method: :get %>
<br/>
<%= link_to "View All Timecards", timecards_url, method: :get %>
<br/>

<br/>
<br/>
<%= button_to "Sign Out", destroy_user_session_url, method: :delete %>