<h1>Home (Admin)</h1>
<br/>

<%= link_to "Browse Jobs", "#", method: :get %><br/>
<%= link_to "Upload Excel File", "#", method: :get %>

<br/>
<br/>
<%= button_to "Sign Out", destroy_user_session_url, method: :delete %>