
<h1>Home (Field)</h1>
<br/>

<p><b>Select Job #</b></p>
<br/>
<% if @jobs.empty? %>
	<i>None</i>
<% end %>

<% @jobs.each do |job| %>
	<%= link_to "Job #{job.job_number}", job_url(job), method: :get %>
	<br/>
<% end %>

<br/>

<%= button_to "Sign Out", destroy_user_session_url, method: :delete %>