/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.comment-field {
	width: 400px;
	margin-top: 3px;
}

.hours-field {
	width: 150px;
}

.quantity-field {
	width: 150px;
}

.select-task {
	min-width: 115px;
}

.task-fields {
	position: relative;
	float: left;
	left: 5px;
	margin-right: 130px;
}

.timecard-form {
	width: 100%;
}

.add-task {
	margin-top: 10px;
}


.select-task-wrap {
	position: relative;
	left: 20px;
	float: left;
	height: 100px;
}
.select-task-wrap-wrap {
	width: 800px;
}